services:
  kafka:
    image: apache/kafka:latest
    container_name: agrotrace-kafka
    ports:
      - "9092:9092"
    environment:
      - KAFKA_NODE_ID=1
      - KAFKA_PROCESS_ROLES=broker,controller
      - KAFKA_LISTENERS=PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093
      - KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092
      - KAFKA_CONTROLLER_LISTENER_NAMES=CONTROLLER
      - KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      - KAFKA_CONTROLLER_QUORUM_VOTERS=1@kafka:9093
      - KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1
      - KAFKA_NUM_PARTITIONS=2
    volumes:
      - kafka_data:/bitnami/kafka
    networks:
      - agrotrace-network
    healthcheck:
      test: ["CMD-SHELL", "timeout 5 bash -c '</dev/tcp/localhost/9092' || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 30s

  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: agrotrace-kafka-ui
    ports:
      - "8080:8080"
    environment:
      - KAFKA_CLUSTERS_0_NAME=agrotrace-kafka
      - KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS=kafka:9092
    depends_on:
      - kafka
    networks:
      - agrotrace-network

  simulateur-capteurs:
    build: ./0-Simulateur-Capteurs
    container_name: agrotrace-simulator
    environment:
      - KAFKA_BOOTSTRAP_SERVERS=kafka:9092
      - KAFKA_TOPIC=sensor-data
      - SEND_INTERVAL=2
    depends_on:
      kafka:
        condition: service_healthy
    networks:
      - agrotrace-network
    volumes:
      - ./0-Simulateur-Capteurs/Dataset:/app/Dataset

  timescaledb:
    image: timescale/timescaledb:latest-pg16
    container_name: agrotrace-timescaledb
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_DB=agrotrace
      - POSTGRES_USER=agrotrace_user
      - POSTGRES_PASSWORD=agrotrace_pass
    volumes:
      - timescaledb_data:/var/lib/postgresql/data
      - ./1-IngestionCapteurs/init_db.sql:/docker-entrypoint-initdb.d/init_db.sql
    networks:
      - agrotrace-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U agrotrace_user -d agrotrace"]
      interval: 10s
      timeout: 5s
      retries: 5

  ingestion-capteurs:
    build: ./1-IngestionCapteurs
    container_name: agrotrace-ingestion
    environment:
      - KAFKA_BOOTSTRAP_SERVERS=kafka:9092
      - KAFKA_TOPIC=sensor-data
      - KAFKA_GROUP_ID=ingestion-group
      - DB_HOST=timescaledb
      - DB_PORT=5432
      - DB_NAME=agrotrace
      - DB_USER=agrotrace_user
      - DB_PASSWORD=agrotrace_pass
    depends_on:
      kafka:
        condition: service_healthy
      timescaledb:
        condition: service_healthy
    networks:
      - agrotrace-network

volumes:
  kafka_data:
  timescaledb_data:

networks:
  agrotrace-network:
